{% extends 'base.html' %}
{#{% block nav_exhbnRec %}active{% endblock nav_exhbnRec%}#}
{% block content -%}
  <div class="section-wrapper">
    <div class="move-wrapper">
    
      <!-- start blog page -->
      <section class="section s-b">
        <div class="w-row">
          <div class="w-col w-col-3 w-col-stack col-m2">
            <div class="blog-p">
              <div class="post">
                <a class="w-inline-block" href="detail.html"><img src="{{ url_for('static', filename = 'images/blog1.jpg') }}" alt="blog1.jpg">
                </a>
              </div>
              <div class="bcon-wrapper">
                <h3><a href="detail.html" class="h-link">Image Post</a></h3>
                <div>
                  <div class="meta-tag">By&nbsp;<a href="#" class="post-link">admin</a> | November 3rd, 2014</div>
                  <div class="blog-l"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
            <div class="blog-p">
              <div class="post">
                <div class="w-embed w-video" style="padding-top: 56.20608899297424%;">
                  <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FZPXOvNKdvUw%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DZPXOvNKdvUw&amp;image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FZPXOvNKdvUw%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class="bcon-wrapper">
                <h3><a href="detail.html" class="h-link">Embedded YouTube</a></h3>
                <div>
                  <div class="meta-tag">By&nbsp;<a href="#" class="post-link">admin</a> | November 3rd, 2014</div>
                  <div class="blog-l"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
            <div class="blog-p">
              <div class="post"></div>
              <div class="bcon-wrapper">
                <h3><a href="#" class="h-link">“Design is not just what it looks like and feels like. Design is how it works.”</a></h3>
                <div>
                  <div class="meta-tag">- Kiku Suma</div>
                  <div class="blog-l"></div>
                </div>
                <p>Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-3 w-col-stack col-m2">
            <div class="blog-p">
              <div class="post">
                <div class="w-slider blog-slider" data-animation="slide" data-duration="500" data-infinite="1">
                  <div class="w-slider-mask">
                    <div class="w-slide"><img src="{{ url_for('static', filename = 'images/blog3.jpg') }}" alt="blog3.jpg">
                    </div>
                    <div class="w-slide"><img src="{{ url_for('static', filename = 'images/blog5.jpg') }}" alt="blog5.jpg">
                    </div>
                    <div class="w-slide"><img src="{{ url_for('static', filename = 'images/blog2.jpg') }}" alt="blog2.jpg">
                    </div>
                  </div>
                  <div class="w-slider-arrow-left">
                    <div class="w-icon-slider-left b-arrow"></div>
                  </div>
                  <div class="w-slider-arrow-right">
                    <div class="w-icon-slider-right b-arrow"></div>
                  </div>
                </div>
              </div>
              <div class="bcon-wrapper">
                <h3><a href="detail.html" class="h-link">Slider Post</a></h3>
                <div>
                  <div class="meta-tag">By&nbsp;<a href="#" class="post-link">admin</a> | November 3rd, 2014</div>
                  <div class="blog-l"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
            <div class="blog-p">
              <div class="post"></div>
              <div class="bcon-wrapper">
                <h3><a href="detail.html" class="h-link">Standart Post</a></h3>
                <div>
                  <div class="meta-tag">By&nbsp;<a href="#" class="post-link">admin</a> | November 3rd, 2014</div>
                  <div class="blog-l"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
            <div class="blog-p">
              <div class="post">
                <a class="w-inline-block" href="#">
                    <img src="{{ url_for('static', filename = 'images/blog6.jpg') }}" alt="blog6.jpg">
                </a>
              </div>
              <div class="bcon-wrapper">
                <h3><a href="detail.html" class="h-link">Image Post&nbsp;</a></h3>
                <div>
                  <div class="meta-tag">By&nbsp;<a href="#" class="post-link">admin</a> | November 3rd, 2014</div>
                  <div class="blog-l"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-3 w-col-stack col-m2">
            <div class="blog-p">
              <div class="post">
                <div class="w-embed w-iframe">
                  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122899544&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>
              </div>
              <div class="bcon-wrapper">
                <h3><a href="detail.html" class="h-link">Embedded SoundCloud</a></h3>
                <div>
                  <div class="meta-tag">By&nbsp;<a href="#" class="post-link">admin</a> | November 3rd, 2014</div>
                  <div class="blog-l"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
            <div class="blog-p">
              <div class="post"></div>
              <div class="bcon-wrapper">
                <h3><a href="#" class="h-link">“How about if I sleep a little bit longer and forget all this nonsense?!”</a></h3>
                <div>
                  <div class="meta-tag">- Steve Jobs</div>
                  <div class="blog-l"></div>
                </div>
                <p>Nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
            <div class="blog-p">
              <div class="post">
                <a class="w-inline-block" href="#"><img src="{{ url_for('static', filename = 'images/blog4.jpg') }}" alt="blog4.jpg">
                </a>
              </div>
              <div class="bcon-wrapper">
                <h3><a href="detail.html" class="h-link">Image Post</a></h3>
                <div>
                  <div class="meta-tag">By&nbsp;<a href="#" class="post-link">admin</a> | November 3rd, 2014</div>
                  <div class="blog-l"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-3 w-col-stack col-m2">
            <div class="blog-p">
              <div class="post"></div>
              <div class="bcon-wrapper">
                <h3><a href="http://themeforest.net/user/moutheme" class="h-link" target="_blank">Here you can put a (link)</a></h3>
                <div>
                  <div class="blog-l"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
              </div>
            </div>
            <div class="blog-p">
              <div class="post">
                <div class="w-embed w-video" style="padding-top: 41.702127659574465%;">
                  <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F112361221&amp;src_secure=1&amp;url=http%3A%2F%2Fvimeo.com%2F112361221&amp;image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F497384096_1280.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=vimeo" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class="bcon-wrapper">
                <h3><a href="detail.html" class="h-link">Embedded Vimeo</a></h3>
                <div>
                  <div class="meta-tag">By&nbsp;<a href="#" class="post-link">admin</a> | November 3rd, 2014</div>
                  <div class="blog-l"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
            <div class="blog-p">
              <div class="post">
                <div class="w-slider blog-slider" data-animation="slide" data-duration="500" data-infinite="1">
                  <div class="w-slider-mask">
                    <div class="w-slide"><img src="{{ url_for('static', filename = 'images/blog2.jpg') }}" alt="blog2.jpg">
                    </div>
                    <div class="w-slide"><img src="{{ url_for('static', filename = 'images/blog5.jpg') }}" alt="blog5.jpg">
                    </div>
                    <div class="w-slide"><img src="{{ url_for('static', filename = 'images/blog3.jpg') }}" alt="blog3.jpg">
                    </div>
                  </div>
                  <div class="w-slider-arrow-left">
                    <div class="w-icon-slider-left b-arrow"></div>
                  </div>
                  <div class="w-slider-arrow-right">
                    <div class="w-icon-slider-right b-arrow"></div>
                  </div>
                </div>
              </div>
              <div class="bcon-wrapper">
                <h3><a href="detail.html" class="h-link">Slider Post</a></h3>
                <div>
                  <div class="meta-tag">By&nbsp;<a href="#" class="post-link">admin</a> | November 3rd, 2014</div>
                  <div class="blog-l"></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
                <div class="post-more"><a class="post-link" href="#">Read More&nbsp;›</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div><!-- end blog page -->
{%- endblock content %}