{% extends 'base.html' %}
{#{% block nav_index %}nav-link active{% endblock nav_index%}#}
{% block content -%}

  <div class="section-wrapper">
    <div class="move-wrapper">
        {% include 'filter.html' %}
      <!-- start portfolio -->
      <div class="w-clearfix grid" id="Grid">
        {% for n in sample_data.index %}
        <div class="mix mix-5" data-ix="hover-port">
{#            <div class="mix mix-5">#}
{#            <a class="w-inline-block tittle-wrapper" href="{{ url_for('blog')}}">#}
{#                <h4 class="text-port" data-ix="move-up">Blue Icon</h4>#}
{#                <div class="sub-text" data-ix="move-up-2">Logotype &amp; Print</div>#}
{#            </a>#}
          <div class="img-wrapper">
              <a href="{{ url_for('exhbnRec')}}">
                <img src="{{ sample_data[n] }}" alt="{{ n }}.jpg" width="800" height="350">
              </a>
            <div class="triangle">
              <div class="left-star">
                <i class="fa fa-star fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div><!-- end portfolio -->
{%- endblock content %}