{% extends 'base.html' %}

{% block content -%}
  <div class="section-wrapper">
    <div class="move-wrapper">

      <section class="inner-banner" id="top">
        <div class="w-container fixed-container">
          <div class="algin-center">
            <h1 class="inner-sub" data-ix="move-3"><span class="domote">Flying.</span>&nbsp;Tab Slider</h1>
            <div class="tst-txt tst-ban" data-ix="move-3">Here you can put some description about you project.</div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-4 col-left">
              <div class="btn-spc"><a class="button btn-small" href="project1"><span class="arrow">‹</span>Previous Project</a>
              </div>
            </div>
            <div class="w-col w-col-4 col-center">
              <div class="btn-spc"><a class="button btn-small" href="index">all Project</a>
              </div>
            </div>
            <div class="w-col w-col-4 col-right">
              <div class="btn-spc"><a class="button btn-small" href="project3">Next Project<span class="arrow a-nxt">›</span></a>
              </div>
            </div>
          </div>
          <div class="i-stack">
            <div class="spc-bott">
              <div>
                <div class="w-tabs" data-duration-in="300" data-duration-out="100">
                  <div class="w-tab-content">
                    <div class="w-tab-pane" data-w-tab="Tab 2">
                      <div><img src="static/images/photo-tab1.jpg" alt="5491d247b473fee828cf7503_photo-tab1.jpg">
                      </div>
                    </div>
                    <div class="w-tab-pane w--tab-active" data-w-tab="Tab 3">
                      <div><img src="static/images/photo-tab3.jpg" alt="54919e88b473fee828cf6ed0_photo-tab3.jpg">
                        <div class="caption-t" data-ix="caption-tab">This is a caption!</div>
                      </div>
                    </div>
                    <div class="w-tab-pane" data-w-tab="Tab 4">
                      <div><img src="static/images/photo-tab4.jpg" alt="54919ec278f295e928ed4ccf_photo-tab4.jpg">
                        <div class="caption-t cap-orange" data-ix="caption-tab">This is another orange caption!</div>
                      </div>
                    </div>
                    <div class="w-tab-pane" data-w-tab="Tab 5">
                      <div><img src="static/images/photo-tab5.jpg" alt="54919f03b473fee828cf6edc_photo-tab5.jpg">
                      </div>
                    </div>
                    <div class="w-tab-pane" data-w-tab="Tab 1">
                      <div><a class="caption-t cap-link" href="#">This is a caption with link!</a><img src="static/images/photo-tab2.jpg" alt="54919e6ab473fee828cf6ec9_photo-tab2.jpg">
                      </div>
                    </div>
                  </div>
                  <div class="w-tab-menu w-clearfix">
                    <a class="w-tab-link w-inline-block slider-tab ph-1" data-w-tab="Tab 2"></a>
                    <a class="w-tab-link w--current w-inline-block slider-tab ph-3" data-w-tab="Tab 3"></a>
                    <a class="w-tab-link w-inline-block slider-tab ph-4" data-w-tab="Tab 4"></a>
                    <a class="w-tab-link w-inline-block slider-tab ph-5" data-w-tab="Tab 5"></a>
                    <a class="w-tab-link w-inline-block slider-tab ph-2" data-w-tab="Tab 1"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="spc-bott">
              <div class="w-row">
                <div class="w-col w-col-6">
                  <p>Quisque id odio. Donec vitae sapien ut libero venenatis faucibus. Nunc sed turpis. Nullam sagittis. Pellentesque posuere.
                    <br>
                    <br>Suspendisse eu ligula. Morbi mollis tellus ac sapien. Maecenas vestibulum mollis diam. Vivamus laoreet. In dui magna, posuere eget, vestibulum et, tempor auctor, justo.</p>
                </div>
                <div class="w-col w-col-6">
                  <p>In hac habitasse platea dictumst. Quisque id mi. Nullam accumsan lorem in dui. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Phasellus nec sem in justo pellentesque facilisis.</p>
                </div>
              </div>
            </div>
            <div class="spc-bott">
              <div class="w-row">
                <div class="w-col w-col-4 div-spc">
                  <div>
                    <h4>Skills</h4>
                    <div class="line-con ln-p"></div>
                  </div>
                  <p>Print Design, Web Design</p>
                </div>
                <div class="w-col w-col-4 div-spc">
                  <div>
                    <h4>Client</h4>
                    <div class="line-con ln-p"></div>
                  </div>
                  <p>Moutheme</p>
                </div>
                <div class="w-col w-col-4 col-center">
                  <div class="btn-spc"><a class="button btn-line btn-medium" href="#">View Project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="mix mix-5 print star" data-ix="hover-port"><a class="w-inline-block tittle-wrapper" href="project1"><h4 class="text-port" data-ix="move-up">A4 Paper</h4><div class="sub-text" data-ix="move-up-2">Print</div></a>
          <div class="img-wrapper"><img src="static/images/port1.jpg" alt="548898cf5f23a8ef6716184a_port1.jpg">
            <div class="triangle">
              <div class="left-star">
                <div class="w-embed"><i class="fa fa-star fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mix mix-5 logotype star" id="mix" data-ix="hover-port"><a class="w-inline-block tittle-wrapper" href="project2"><h4 class="text-port" data-ix="move-up">American Eagle</h4><div class="sub-text" data-ix="move-up-2">Logotype</div></a>
          <div class="img-wrapper"><img src="static/images/port4.jpg" alt="54889bc8456346927d888d09_port4.jpg">
            <div class="triangle">
              <div class="left-star">
                <div class="w-embed"><i class="fa fa-star fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mix mix-5 illustration star" data-ix="hover-port"><a class="w-inline-block tittle-wrapper" href="project3"><h4 class="text-port" data-ix="move-up">Harley</h4><div class="sub-text" data-ix="move-up-2">Illustration</div></a>
          <div class="img-wrapper"><img src="static/images/port17.jpg" alt="54889c1a5f23a8ef671618b5_port17.jpg">
            <div class="triangle">
              <div class="left-star">
                <div class="w-embed"><i class="fa fa-star fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mix mix-5 illustration star" data-ix="hover-port"><a class="w-inline-block tittle-wrapper" href="project4"><h4 class="text-port" data-ix="move-up">Yellow Monster</h4><div class="sub-text" data-ix="move-up-2">Illustration</div></a>
          <div class="img-wrapper"><img src="static/images/port12.jpg" alt="54889c27456346927d888d0f_port12.jpg">
            <div class="triangle">
              <div class="left-star">
                <div class="w-embed"><i class="fa fa-star fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mix mix-5 illustration star" data-ix="hover-port"><a class="w-inline-block tittle-wrapper" href="project2"><h4 class="text-port" data-ix="move-up">Dog</h4><div class="sub-text" data-ix="move-up-2">Illustration</div></a>
          <div class="img-wrapper"><img src="static/images/port16.jpg" alt="54889bfd5f23a8ef671618b4_port16.jpg">
            <div class="triangle">
              <div class="left-star">
                <div class="w-embed"><i class="fa fa-star fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{%- endblock content %}